
@page "/geolocate"

@inject IJSRuntime JSRuntime

@rendermode InteractiveServer
@attribute [StreamRendering]

@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div>
    <button @onclick="OnSolicitarCoordenadas" class="btn btn-primary">Tomar Coordenadas</button><br/>
    <button @onclick="OnLLamar" class="btn btn-primary">LLamar</button><br/>
    <button @onclick="OnTomarFoto" class="btn btn-primary">Tomar Foto</button><br/>
    <button @onclick="OnTest" class="btn btn-primary">Prueba botón</button><br/>
</div>

<div class="card">
    <div class="card-body">@contenido</div>
</div>

<div class="card">
    <img id="imgFoto1" src="assets/images/no_foto.png" style="width: 150px; height: 150px; object-fit: cover; border-radius: 8px;" /><br />
    <input id="inputFoto1" type="hidden" name="inputFoto1" />
    @inputFoto1
</div>


<!--
    desde devtools inyecto el base64
    allow pasting
    document.getElementById('imgFoto1').src='data:image/png;base64,Qk1KAQAAAAAAAIoAAAB8AAAACAAAAAgAAAABABgAAAAAAMAAAAAjLgAAIy4AAAAAAAAAAAAAAAD/AAD/AAD/AAAAAAAAAEJHUnMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAAAAAAAAAAA////////iCtp18/T0cnOhyxr/////////////////QAB+W5u+Gpq/QEB////////////wMDT90dH7kdH7kdH90dHwMDT////////iYngrkfOp0e8pke5rkfOiYng////////////farkV3afVnWef6rk////////////v8zhmLLabpPCao29mLHav8zh////////iYngAgPsAgPtAwPtAgPsiYng////////6en4AAD+AAD+AAD+AAD+6en4////';
    document.getElementById('inputFoto1').value='data:image/png;base64,Qk1KAQAAAAAAAIoAAAB8AAAACAAAAAgAAAABABgAAAAAAMAAAAAjLgAAIy4AAAAAAAAAAAAAAAD/AAD/AAD/AAAAAAAAAEJHUnMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAAAAAAAAAAA////////iCtp18/T0cnOhyxr/////////////////QAB+W5u+Gpq/QEB////////////wMDT90dH7kdH7kdH90dHwMDT////////iYngrkfOp0e8pke5rkfOiYng////////////farkV3afVnWef6rk////////////v8zhmLLabpPCao29mLHav8zh////////iYngAgPsAgPtAwPtAgPsiYng////////6en4AAD+AAD+AAD+AAD+6en4////';
-->

@code {


    //".../geolocate?Latitud=-31.7496689&Longitud=-60.5213019&"
    [SupplyParameterFromQuery]
    public double Latitud { get; set; }

    [SupplyParameterFromQuery]
    public double Longitud { get; set; }

    string contenido { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if(Latitud != 0 && Longitud != 0)
            {
                contenido = $"Latitud: {Latitud}, Longitud: {Longitud}";                
            }
            else
            {
                contenido = "No se han recibido coordenadas.";
            }

            StateHasChanged();
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    public void OnSolicitarCoordenadas()
    {
        Navigation.NavigateTo("/geolocate?coordenadas=coordenadas", forceLoad: true);
    }

    public void OnLLamar()
    {
        Navigation.NavigateTo("/geolocate?phone=phone", forceLoad: true);
    }

    public void OnTomarFoto()
    {
        Navigation.NavigateTo("/geolocate?photo=photo&param=imgFoto1", forceLoad: true);
    }


    async public Task OnTest()
    {
        contenido = $"{DateTime.Now}";
        // if (!string.IsNullOrEmpty(inputFoto1))
        //     OutPutFotoBase64 = inputFoto1;

        inputFoto1 = await JSRuntime.InvokeAsync<string>("eval", "document.getElementById('inputFoto1')?.value ?? ''");
    }

    string OutPutFotoBase64 { get; set; }="";

    public string? inputFoto1 { get; set; } = "";

}
